*{
    margin: 0;
    padding: 0;

}

body{
    background-color: #ECDFCC;
    height: 100vh;
    
}
#heading{
    font-size: 5vmin;
    color: #1E201E;
    font-style: italic;
    text-align: center ;
}

.container{
    height: 80vh;
    width: 100vw;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.options{
    height: 20vmin;
    width: 20vmin;
    border-radius: 25%;
    margin: 4px;
    background-color: #697565;
    background-size: cover;  
    border: none;
    cursor: pointer;
}

button:active,
button:focus{
    filter: brightness(180%);
    border: 4px solid black;
    box-shadow: 0px 0px 60px 20px #3C3D37;
}
.BoxOptions{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NameOptions{
    font-size: 4vmin;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #3C3D37;
}

#Rock{
    background-image: url(source/fist.png);
}
#Paper{
    background-image: url(source/hand-paper.png);
}
#Scissor{
    background-image: url(source/scissors.png);
}

.contains-output{
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items:center;
    justify-content:space-around;
    
}

.result{
    font-size: 7vmin;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#finalResult{
    font-size: 10vmin;
}